body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: black;
    font-weight: bold;
    background: url("../images/Claude_Monet_-_Waterlilies_-_Google_Art_Project.png");
    background-size: 100%;
}

* {
    box-sizing: border-box;
}

.head {
    margin-top: 20px;
    margin-bottom: 50px;
}

#head1 {
    color: blue;
    text-align: center;
    font-weight: bold;
}

#head2 {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

#border1 {
    border: 2px solid blue;
}